<div
  class="goban-wrapper"
  (window:resize)="onResizedAngular10($event)"
  (window:load)="onResizedAngular10($event)">
  <!-- (resized)="onResized($event)" -->
  <div class="goban-centered">

    <div class="goban-color">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        shape-rendering="geometricPrecision"
        [attr.width]="fullWidth"
        [attr.height]="fullHeight"
        (click)="onClick($event)">

        <defs>
          <marker
            #libertyArrow
            id="libertyArrow"
            markerWidth="5"
            markerHeight="3.5"
            refX="0"
            refY="1.75"
            orient="auto"
            markerUnits="strokeWidth">
            <polygon
              points="0 0, 5 1.75, 0 3.5"
              [attr.fill]="arrowColor">
            </polygon>
          </marker>
          <marker
            #blockedArrow
            id="blockedArrow"
            markerWidth="3.5"
            markerHeight="3.5"
            refX="0"
            refY="1.75"
            orient="auto">
            <circle
              cx="1.75"
              cy="1.75"
              r="0.5"
              [attr.fill]="blockedColor"></circle>
          </marker>
        </defs>

        <!-- draw lines -->
        <line
          *ngFor="let item of items; let i = index"
          [attr.x1]="offsetX + i*cellWidth"
          [attr.y1]="offsetY"
          [attr.x2]="offsetX + i*cellWidth"
          [attr.y2]="offsetY + (boardSize -1)*cellHeight"
          stroke="#464637"
          [attr.stroke-width]="strokeWidth"
          pointer-events="none"></line>

        <!-- draw lines -->
        <line
          *ngFor="let item of items; let i = index"
          [attr.x1]="offsetX"
          [attr.y1]="offsetY + i*cellHeight"
          [attr.x2]="offsetX + (boardSize -1)*cellWidth"
          [attr.y2]="offsetY + i*cellHeight"
          stroke="#464637"
          [attr.stroke-width]="strokeWidth"
          pointer-events="none"></line>

          <!-- draw playable keypoints -->
        <g *ngFor="let tmp of keyPoints">
          <image
            *ngIf="isEmpty(tmp.x, tmp.y)"
            image
            [class.keypoint]="animateKeypoints"
            [attr.x]="offsetX + (tmp.x -0.5)*cellWidth"
            [attr.y]="offsetY + (tmp.y -0.5)*cellHeight"
            [attr.width]="cellWidth"
            [attr.height]="cellHeight"
            [attr.xlink:href]="'assets/' + theme.markerPath"
            pointer-events="none">
          </image>
        </g>

        <!-- arrows to show liberties -->
        <g *ngIf="showLibertyArrows">
          <g *ngFor="let tmp of stoneIntersections">
            <g *ngIf="tmp.svgColor === 'white'">
              <line
                *ngFor="let arrow of get4Directions(tmp.x, tmp.y)"
                [attr.x1]="arrow.x1"
                [attr.y1]="arrow.y1"
                [attr.x2]="arrow.x2"
                [attr.y2]="arrow.y2"
                [attr.stroke]="arrow.stroke"
                [attr.stroke-width]="arrow.strokeWidth"
                pointer-events="none"
                [attr.marker-end]="arrow.markerEnd">
              </line>
            </g>
          </g>
        </g>

        <!-- white stones are carrots -->
        <g *ngFor="let tmp of stoneIntersections">
          <image
            class="white"
            *ngIf="tmp.svgColor === 'white'"
            [attr.x]="offsetX + (tmp.x -0.5)*cellWidth"
            [attr.y]="offsetY + (tmp.y -0.5)*cellHeight"
            [attr.width]="cellWidth"
            [attr.height]="cellHeight"
            [attr.xlink:href]="'assets/' + theme.whitePath">
          </image>
        </g>

        <!-- black stones are rabbits -->
        <g *ngFor="let tmp of stoneIntersections">
          <image
            class="black"
            *ngIf="tmp.svgColor === 'black'"
            [attr.x]="offsetX + (tmp.x -0.5)*cellWidth"
            [attr.y]="offsetY + (tmp.y -0.5)*cellHeight"
            [attr.width]="cellWidth"
            [attr.height]="cellHeight"
            [attr.xlink:href]="'assets/' + theme.blackPath">
          </image>
        </g>
      </svg>
    </div>
  </div>
</div>
