<div>
  <h4 class="mb-4 text-muted">About</h4>

  <div class="row">

    <div class="col-md-12 col-lg-12 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-title mb-1 p-3">
          <h5>Contact</h5>
        </div>
        <div class="card-body">
          The source code can be found on Github:
          <a href='https://github.com/ZBaduk/BadukKids'>ZBaduk/BadukKids</a>.
          <br>
          Feel free to contact me on bram@zbaduk.com.
          <br>
          Follow me on twitter: <a href='https://twitter.com/zbaduk'>https://twitter.com/zbaduk</a>.
          <br>
          If you're interested in online go AI, visit <a href='https://www.zbaduk.com'>https://www.zbaduk.com</a>.
        </div>

      </div>
    </div>
  </div>
</div>
