<aside class="sidebar shadow-sm">
  <!-- <div class="sidebar-search pt-1 pb-1 pl-3 pr-3">
    <input type="search" class="form-control rounded-pill" name="search" placeholder="Search ...">
  </div> -->
  <nav class="sidebar-menu pt-3 pb-3">
    <div class="menu-header mt-3 mb-2">
      Menu
    </div>
    <ul class="menu-items">
      <li>
        <a href="#" routerLink="/play" routerLinkActive="active">
          <i class="fas fa-gamepad"></i>
          <span>Play</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/configuration" routerLinkActive="active">
          <i class="fas fa-cogs"></i>
          <span>Configuration</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/about" routerLinkActive="active">
          <i class="fas fa-address-card"></i>
          <span>About</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
