<input
  type="checkbox"
  [checked]="animateKeypoints"
  (change)="animateKeypoints = !animateKeypoints">
Hide keypoints using animations.
<br>
<input
  type="checkbox"
  [checked]="targetsRunAway"
  (change)="targetsRunAway = !targetsRunAway">
Targets run away
<br>
<form>
  Theme:
  <select
    id='theme'
    name='theme'
    [(ngModel)]="selectedThemeIndex">
    <option
      *ngFor="let theme of themes; index as i"
      [attr.data-index]="i"
      [value]="i">
      {{theme.name}}
    </option>
  </select>
</form>
